*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: #1E3859;
}
#logo{
  width: 200px;
  height:200px;
}
header{
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #F28705;
  background-color: #14548C;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
header > div {
  margin: auto;
}

.foto{
  width: 40px;
  height: 40px;
}
.receber{
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  
}
.resp{
  padding: 5px;
  display: flex;
  border-bottom: solid 1px gray;
 
}
.resp2{
  margin: auto;
}
#seletor{
  height: 50px;
  width: 200px;
  border:none;
  text-align: left;
  font-weight: bold;
}
#valorDaMoeda{
  width: 290px;
  height: 35px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
}
#prin{
  display: flex;
  width: 700px;
  margin: auto;
  margin-top: 200px;
}
#btn{
  width: 60px;
  height: 100px;
  border-radius: 20px;
  background-color: #F28705;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
#res{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: green;
}
#text{
  text-align: center;
  font-weight: bold;
}